body{
    border:1px solid black;
       width:700px;
       height:300px;
         }
    
 #contenu{
 	font-family: Arial;
     
}
.carte {
   position:relative;
    width: 700px;
    height: 300px;
    
}
.text{
    position: absolute;
    top: 90px;
    left: 240px;
    color: white;
    font-family: fantasy;
    font-size: 30px;
}
.symbole{
    position: absolute;
    top:270px;
    width: 30px;
    height: 30px;
}
.name{
    position: absolute;
    top: 40px;
    color: white;
    left: 270px;
    font-size: 30px;
}
.email{
    position: absolute;
    top: 270px;
    left: 200px;
    width: 30px;
    height: 30px;
    
}
.mail{
    position: absolute;
    top: 265px;
    width: 30px;
    color: white;
    left: 240px;
}
.telephone{
    position: absolute;
    top: 270px;
    width: 30px;
    height: 30px;
    left: 50px;
    color: white;   
}
.siteweb{
    position: absolute;
    top: 270px;
    width: 30px;
    height: 30px;
    left: 500px;
}  
.web{
    position: absolute;
    top: 255px;
    width: 30px;
    color: white;
    left: 550px;
}

